.advantages {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 768px;
    padding: 40px 45px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding: 100px 0;
  }
}

.advantages__title {
  text-align: center;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
  }
}

.advantages__list {
  @include list;

  display: flex;
  flex-direction: column;
  gap: 15px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }

  @media (min-width: $desktop-width) {
    flex-wrap: nowrap;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    gap: 0;
    max-width: 1440px;
    width: 1440px;
  }
}
