.burger {
  border: none;
  background: $background-baze;
  width: 26px;
  height: 26px;
  padding: 0;
  mask-image: url("/__spritemap#sprite-menu-close-view");
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: 26px 26px;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.burger--open {
  mask-image: url("/__spritemap#sprite-menu-open-view");
}
