.button {
  border: none;
  background-color: $brand-color;
  color: $text-color-light;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;

  &:hover {
    background-color: $background-baze;
    color: $text-color-accent;
    box-shadow: inset 0 0 0 1px $border-accent;
  }

  &:focus {
    outline: none;
    background-color: $background-baze;
    color: $text-color-accent;
  }

  &:active {
    background-color: $background-accent;
  }

  &--disabled {
    background-color: $background-neutral;
  }
}
