.footer {
  padding-top: 20px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 100px;
    padding-bottom: 32px;
  }
}

.footer__links {
  padding-top: 23px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 23px;

  @media (min-width: $tablet-width) {
    gap: 34px;
    padding-top: 34px;
  }

  @media (min-width: $desktop-width) {
    gap: 22px;
    padding-top: 32px;
  }
}

.footer__phone {
  display: none;

  @media (min-width: $desktop-width) {
    @include link;

    display: block;
    font-size: 18px;
    line-height: 18px;
    font-weight: 600;
    color: $text-color-base;
  }

  &:hover {
    color: $brand-color;
    opacity: 0.1;
  }

  &:focus {
    outline: none;
    color: $brand-color;
  }

  &:active {
    color: $text-color-accent;
  }

  &--disabled {
    color: $text-color-neutral;
    pointer-events: none;
  }
}

.footer__copyright {
  margin: 0;
  font-size: 12px;
  line-height: 12px;
  font-weight: 300;
}

.footer__logo-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: min-content;
}

.footer__logo {
  width: 142px;
  height: 42px;
}

.footer__logo-icon {
  fill: $text-color-base;
  width: 142px;
  height: 42px;
}

.footer__nav-link-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 23px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    gap: 42px;
    justify-content: space-between;
    width: 100%;
  }
}

.footer__tel-container {
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
