.instructors__header-container {
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 16px;
    align-items: flex-end;
  }
}

.instructors__list {
  @include list;
}

.instructors__title {
  padding: 0;
}
