.instructors-card {
  background-color: $background-baze;
  border: solid 1px rgba(2, 102, 193, 0.1);
  padding: 14px;
  min-height: 356px;

  @media (min-width: $tablet-width) {
    min-height: 388px;
  }

  @media (min-width: $desktop-width) {
    min-height: 356px;
  }
}

.instructors-card__photo-container {
  width: 100%;
  min-height: 200px;
  margin-bottom: 15px;
}

.instructors-card__photo {
  max-width: 100%;
  vertical-align: bottom;
}

.instructors-card__header {
  display: flex;
  margin-bottom: 15px;
  justify-content: space-between;
}

.instructors-card__header h4 {
  line-height: 16px;
  margin: 0;
  width: min-content;
}

.instructors-card p {
  font-size: 12px;
  line-height: 16px;
  width: 100%;
}

.instructors-card__link-container {
  display: flex;
  //flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 92px;
}

.instructors-card__link {
  display: block;
  width: 24px;
  height: 24px;
  border: solid 1px rgba(45, 56, 63, 0.3);
  position: relative;

  &:hover {
    border: solid 1px $border-base;
  }

  &:focus {
    border: solid 1px rgba(45, 56, 63, 0);
    background-color: $background-baze;
  }

  &:active {
    border: solid 1px $brand-color;
    background-color: $brand-color;
  }

  &--disabled {
    border: solid 1px rgba(45, 56, 63, 0.3);
  }
}

.instructors-card__link:active .instructors-card__link-icon {
  fill: $background-baze;
}

.instructors-card__link--disabled .instructors-card__link-icon {
  fill: rgba(45, 56, 63, 0.3);
}

.instructors-card__link-icon {
  display: block;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 14px;
  height: 8px;
  fill: $border-base;
}

.instructors-card__content {
  max-height: 111px;
  overflow-y: auto;

  @media (min-width: $tablet-width) {
    max-height: 143px;
  }

  @media (min-width: $desktop-width) {
    max-height: 111px;
  }
}
