.page-body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: $font-montserrat;
  font-size: 14px;
  line-height: 20px;
  color: $text-color-base;
  font-style: normal;
  background-color: $background-baze;
}

.page-body__main {
  flex-grow: 1;
  background-image:
    image-set(
      url("../img/background-main-mobile@1x.webp") type("image/webp") 1x,
      url("../img/background-main-mobile@1x.png") type("image/png") 1x,
    );
  background-repeat: no-repeat;
  background-size: 346px 595px;
  background-position: top 578px left calc(50% + 192px);

  @media (resolution >= 2dppx) {
    background-image:
      image-set(
        url("../img/background-main-mobile@2x.webp") type("image/webp") 2x,
        url("../img/background-main-mobile@2x.png") type("image/png") 2x,
      );
  }

  @media (min-width: $tablet-width) {
    background-image:
      image-set(
        url("../img/training-background-tablet@1x.webp") type("image/webp") 1x,
        url("../img/training-background-tablet@1x.png") type("image/png") 1x,
      ),
      image-set(
        url("../img/background-main-tablet@1x.webp") type("image/webp") 1x,
        url("../img/background-main-tablet@1x.png") type("image/png") 1x,
      ),
      image-set(
        url("../img/adv-background1-tablet@1x.webp") type("image/webp") 1x,
        url("../img/adv-background1-tablet@1x.png") type("image/png") 1x,
      ),
      image-set(
        url("../img/adv-background2-tablet@1x.webp") type("image/webp") 1x,
        url("../img/adv-background2-tablet@1x.png") type("image/png") 1x,
      );
    background-size:
      840px 280px,
      602px 1630px,
      1200px 401px,
      788px 263px;
    background-position:
      top 2283px left calc(50% + 340px),
      top 942px left calc(50% + 260px),
      left calc(50% - 230px) top 4166px,
      left calc(50% + 222px) top 4665px;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;

    @media (resolution >= 2dppx) {
      background-image:
        image-set(
          url("../img/training-background-tablet@2x.webp") type("image/webp") 2x,
          url("../img/training-background-tablet@2x.png") type("image/png") 2x,
        ),
        image-set(
          url("../img/background-main-tablet@2x.webp") type("image/webp") 2x,
          url("../img/background-main-tablet@2x.png") type("image/png") 2x,
        ),
        image-set(
          url("../img/adv-background1-tablet@2x.webp") type("image/webp") 2x,
          url("../img/adv-background1-tablet@2x.png") type("image/png") 2x,
        ),
        image-set(
          url("../img/adv-background2-tablet@2x.webp") type("image/webp") 2x,
          url("../img/adv-background2-tablet@2x.png") type("image/png") 2x,
        );
    }
  }

  @media (min-width: $desktop-width) {
    background-image:
      image-set(
        url("../img/training-background-tablet@1x.webp") type("image/webp") 1x,
        url("../img/training-background-tablet@1x.png") type("image/png") 1x,
      ),
      image-set(
        url("../img/background-main-desktop@1x.webp") type("image/webp") 1x,
        url("../img/background-main-desktop@1x.png") type("image/png") 1x,
      ),
      image-set(
        url("../img/adv-background1-tablet@1x.webp") type("image/webp") 1x,
        url("../img/adv-background1-tablet@1x.png") type("image/png") 1x,
      ),
      image-set(
        url("../img/adv-background2-tablet@1x.webp") type("image/webp") 1x,
        url("../img/adv-background2-tablet@1x.png") type("image/png") 1x,
      );
    background-position:
      left calc(50% + 507px) top 2226px,
      top 674px left calc(50% + 420px),
      top 3509px left calc(50% - 433px),
      top 3695px left calc(50% + 665px);

    @media (resolution >= 2dppx) {
      background-image:
        image-set(
          url("../img/training-background-tablet@2x.webp") type("image/webp") 2x,
          url("../img/training-background-tablet@2x.png") type("image/png") 2x,
        ),
        image-set(
          url("../img/background-main-desktop@2x.webp") type("image/webp") 2x,
          url("../img/background-main-desktop@2x.png") type("image/png") 2x,
        ),
        image-set(
          url("../img/adv-background1-tablet@2x.webp") type("image/webp") 2x,
          url("../img/adv-background1-tablet@2x.png") type("image/png") 2x,
        ),
        image-set(
          url("../img/adv-background2-tablet@2x.webp") type("image/webp") 2x,
          url("../img/adv-background2-tablet@2x.png") type("image/png") 2x,
        );
    }
  }
}
