.page-body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: $font-montserrat;
  font-size: 14px;
  line-height: 20px;
  color: $text-color-base;
  font-style: normal;
  background-color: $background-baze;
}

.page-body__main {
  flex-grow: 1;
}
