.tours-card {
  min-height: 416px;
  background-color: #6a91b7;
  color: $text-color-light;
  padding: 30px 20px;
  position: relative;
}

.tours-card__title-container {
  overflow: auto;
  max-height: 270px;
}

.tours-card__info-container {
  display: flex;
  flex-direction: column;
  min-height: 356px;
  justify-content: flex-end;
}

.tours-card__nameplate-list {
  display: flex;
  margin-bottom: 15px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 5px;
  row-gap: 12px;
}

.tours-card__info-list {
  @include list;

  display: flex;
  justify-content: space-between;
  width: 100%;
}

.tours-card__title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin: 0;
  padding-bottom: 15px;
  margin-bottom: 16px;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 250px;
  }
}

.tours-card__title::before {
  content: "";
  position: absolute;
  display: block;
  background-color: $background-baze;
  opacity: 0.2;
  height: 1px;
  width: 80px;
  left: 0;
  bottom: 0;
}

.tours-card__nameplate {
  font-size: 12px;
  line-height: 12px;
  font-weight: 500;
  padding: 4px 0 4px 32px;
  display: block;

  &--location {
    background-color: $brand-color;
    background-image: url("/__spritemap#sprite-icon-location-view");
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: left 12px center;
    padding: 8px 12px 8px 34px;
  }

  &--days {
    background-image: url("/__spritemap#sprite-icon-sun-view");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: left center;
  }

  &--nights {
    background-image: url("/__spritemap#sprite-icon-tours-moon-view");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: left center;
  }
}

.tours-card__info-item {
  font-size: 12px;
  line-height: 12px;
  font-weight: 300;
  padding-right: 8px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  justify-content: flex-end;

  &:last-child {
    padding-right: 0;
  }

  &--level {
    min-width: 84px;
    padding-bottom: 20px;
    margin-right: 8px;
    position: relative;
  }

  &--date {
    width: max-content;
    padding-right: 6px;
  }

  &--group {
    width: max-content;
    align-self: flex-end;
  }
}

.tours-card__info-item b {
  font-size: 13px;
  line-height: 13px;
  font-weight: 700;
}

.tours-card__photo {
  display: block;
  position: absolute;
  width: 290px;
  height: 416px;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: -1;

  @media (min-width: $tablet-width) {
    width: 330px;
    height: 416px;
  }

  @media (min-width: $desktop-width) {
    width: 380px;
    height: 416px;
  }
}

.tours-card__day-container {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
}

.tours-card__stars::after {
  position: absolute;
  content: "";
  display: block;
  height: 16px;
  width: 84px;
  background-image: url("/__spritemap#sprite-icon-star-filled-view");
  background-repeat: space;
  background-size: 16px 16px;
  bottom: 0;
}

.tours-card__stars::before {
  position: absolute;
  content: "";
  display: block;
  height: 16px;
  width: 84px;
  background-image: url("/__spritemap#sprite-icon-star-empty-view");
  background-repeat: space;
  background-size: 16px 16px;
  bottom: 0;
  right: 0;
}

.tours-card__stars--4-stars::before {
  width: 16px;
}

.tours-card__stars--4-stars::after {
  width: 67px;
}

.tours-card__stars--3-stars::before {
  width: 33px;
}

.tours-card__stars--3-stars::after {
  width: 50px;
}

.tours-card__stars--5-stars::before {
  display: none;
}

.tours-card__stars--5-stars::after {
  width: 84px;
}
