.training__container {
  padding-top: 20px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.training__instructors {
  margin-bottom: 25px;

  @media (min-width: $desktop-width) {
    margin-bottom: 56px;
  }
}

.training__title {
  //padding-bottom: 17px;
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    padding-bottom: 10px;
    margin-bottom: 26px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 35px;
    padding-bottom: 0;
  }
}

.training__intro-container {
  //padding-top: 16px;
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    //padding-top: 20px;
  }

  @media (min-width: $desktop-width) {
    //padding-top: 19px;
    padding-bottom: 56px;
  }
}

.training p {
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    width: 820px;
  }
}

.training br {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}
