//fonts
$font-montserrat: "Montserrat";

//colors
$text-color-base: #2d383f;
$text-color-light: #ffffff;

$brand-color: #0266c1;

$background-baze: #ffffff;

//adaptive
$tablet-width: 768px;
$desktop-width: 1440px;
