//fonts
$font-montserrat: "Montserrat";

//colors
$text-color-base: #2d383f;
$text-color-light: #ffffff;
$text-color-accent: #1c3374;
$text-color-neutral: #999999;

$brand-color: #0266c1;

$background-baze: #ffffff;
$background-accent: #1c3374;
$background-neutral: #999999;
$background-dark: #2d383f;

$border-light: #ffffff;
$border-accent: #1c3374;
$border-base: #2d383f;

//adaptive
$tablet-width: 768px;
$desktop-width: 1440px;
